.Rproj.user
.Rhistory
.RData
.Ruserdata

# Carpeta con los archivos ROSMAP (privados)
archivos_ROSMAP/

# Archivos ROSMAP preparados tras la exploración inicial (privados)
contajes_rnaseq.csv
metadatos_rnaseq.csv
metadatos_metilacion.tsv
datos_metilacion.csv
pacientes_metilacion.csv
datos_proteomicos.csv
pacientes_proteomicos.csv
rnaseq_normalizado.csv
pacientes_multiomicos.csv
metilacion_HVG.csv
proteomica_HVG.csv
RNAseq_HVG.csv

# Archivos que no tienen nada que ver con este análisis
protocolos_analisis_metilacion.R
protocolos_analisis_rnaseq.R